<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="IngestVault">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <!-- The API key tests inspect stack trace arguments, which production php.ini files switch off. -->
        <ini name="zend.exception_ignore_args" value="0"/>
    </php>
</phpunit>
